@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    /* height: 90vh; */
    
}

@keyframes waving {
    0% { transform: rotate(0deg) ; }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}

.animate-waving {
    animation: waving 2s infinite;
}

